.About p {
    text-align: left;
}

.About li {
    text-align: left;
}

.About a {
    color: white;
}

.About h3 {
    text-align: left;
}

.About div {
    margin: 5% 15%;
}

.About img {
    width: 40vh;
    height: 40vh;
}