.Home {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #282c34;
}

.Home img {
    position: relative;
    z-index: 1;
    width: 100%;
    opacity: 0.35;
}

.Overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
}
