.Home {
    position: relative;
    background-color: rgba(40, 44, 52, 0.6);
}

.Home:after {
    content: "";
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('../../images/chicago.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: -1;
}

.Overlay {
    position: absolute;
    text-align: center;
    justify-content: center;
    max-height: 100vh;
    margin-top: 35vh;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}
