.Blog p {
  text-align: left;
}

.Blog a {
  color: white;
}

.Blog section:nth-child(even) {
  background: #95a5a6;
  overflow: auto;
}

.Blog div {
  margin: 5vh 15%;
}

.Blog img {
  max-width: 100%;
}
